<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bddes.dao.DBDao">

    <select id="query" resultType="java.util.HashMap" parameterType="hashmap">
        SELECT c.TABLE_NAME as tableName, c.table_comment as tableComment
        FROM information_schema.`TABLES` AS c
        WHERE c.TABLE_SCHEMA = #{schema}

        <if test="tableName != '' and tableName != null  ">
            and TABLE_NAME like concat('%',#{tableName},'%')
        </if>
        <if test="tableComment != '' and tableComment != null  ">
            and table_comment like concat('%',#{tableComment},'%')
        </if>

        ORDER BY create_time desc

    </select>


    <select id="queryTable" resultType="java.util.HashMap" parameterType="hashmap">
        SELECT c.COLUMN_NAME, c.COLUMN_COMMENT,c.DATA_TYPE
        FROM information_schema.`COLUMNS` AS c
        WHERE 1=1

        <if test="tableName != '' and tableName != null  ">
            and c.TABLE_NAME LIKE concat('%',#{tableName},'%')
        </if>
        <if test="columnComment != '' and columnComment != null  ">
            and c.COLUMN_COMMENT like concat('%',#{columnComment},'%')
        </if>

    </select>

</mapper>
