<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bddes.dao.DBDao">

    <select id="query" resultType="java.util.HashMap" parameterType="hashmap">
        SELECT c.TABLE_NAME, c.table_comment
        FROM information_schema.`TABLES` AS c
        WHERE c.TABLE_SCHEMA = #{schema}

        <if test="tableName != '' and tableName != null  ">
            and TABLE_NAME=#{tableName}
        </if>

        ORDER BY create_time desc

    </select>

</mapper>
